*{
    margin:0;
    padding:0;
}
body{
    font-family: "Titillium Web", sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}


/*utilities*/ 
.container{
    width:80%;
    margin: 0 auto;
}

.notification{
    display: none;
    position: fixed;
    background-color: black;
    top: 10px;
    right: 0;
    width: 300px;
    color: white;
    padding: 10px;
}
#closeNotification{
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}
#notificationtext{
    margin: 0;
}

.success{
    background-color: green;
}


